$primary-color: #1981ff;
$secondary-color: #6919ff;
$dark-font-color: #111;
$semi-dark-font-color: #8a8a8a;
$light-font-color: #fff;
$placeholder-color: #b3b3b3;
$light-background-color: #fdfdfd;
$attention-color: #ff1919;